<% include ../include/head%>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <%=article.title%>
        </div>
        <div class="panel-body">
            <%-article.content%>
        </div>
        <%if(article.image){%>
            <p><img src="data:image/gif;base64,<%=article.image.filecontent%>" alt=""></p>
        <%}%>
        <div class="panel-footer">
            <a href="/articles/edit/<%=article._id%>" class="btn btn-warning">编辑</a>
            <a href="/articles/delete/<%=article._id%>" class="btn btn-danger">删除</a>
        </div>
    </div>
</div>
<% include ../include/foot%>